body
{
	background-image: url('C:\Lin\Aaron\ice.jpg');
	background-attachment: scroll;
	background-repeat: repeat-y;
	background-position: center center;
	background-color: #000000;
	font-family: Verdana;
	font-size: 10pt;
	color: #FFFFFF;
}
a:link		{ color : #FFFFFF; }
a:active	{ color : #FFFFFF; }
a:visited	{ color : #FFFFFF; }
a:hover		{ text-decoration: underline; color : #FFFFFF; }
table tr td	{ border-color: #153E7E; }
table tr th	{ border-color: #153E7E; background: #153E7E; }
input, select, textarea				{ border-color: #153E7E; font-family: Verdana; }
input:focus, select:focus, textarea:focus	{ border-color: #153E7E; }
h1
{
	font-size: 16pt;
	color: #FFFFFF;
}
h2
{
	font-size: 10pt;
	color: #FFFFFF;
}
hr
{
	border-top-color: #FFFFFF;
}
#title
{
	font-size: 26pt;
	color: #FFFFFF;
}
#footer
{
	border-color: #FFFFFF;
}
.entry
{
	border-bottom-color: #FFFFFF;
}
.entryContent
{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
.blockTitle
{
	font-size: 15pt;
	color: #FFFFFF;
}
#calendar
{
	background-color: #43C6DB;
}
#calendar th
{
	background-color: #153E7E;
	border-color: #153E7E;
}
#calendar td
{
	border-color: #153E7E;
}
#shoutbox
{
	border-color: #153E7E;
}
#postTable tr td .smilies tr td	{ border-color: #153E7E; }
#postTable tr td .smilies tr th	{ border-color: #153E7E; background-color: #153E7E; }
.daycell
{
	background-color: #FFFFFF;
}
.row1
{
	background-color: #FFFFFF;
}

.row2
{
	background-color: #43C6DB;
}
