/* Align the share to the right */
.addthis_button {
	float:right;
	margin: 0 0 15px 15px;
	}

/* Hidden vs unhidden */
.hidden { display: none; }
.unhidden { display: block; }

a.hider {
	color: blue;
	text-decoration: underline;
}
.edit_set_hidden {
	color: darkred;
	visibility: hidden;
}

.math_content {
	white-space: pre-line;
}

/* For view_set.php */
.set_author_name {
	color: darkblue;
	font-weight: bold;
}
.set_hashtag {
	color: #900001;
	font-weight: bold;
}
.set_vote_count {
	border: 1px solid;
	padding: 2px;
	font-weight: bold;
}
.set_vote_count_positive {
	color: green;
}
.set_vote_count_negative {
	color: red;
}
.set_quick_comments {
	color: #CC00CC;
}
.set_problem_id {
	font-weight: bold;
	color: darkblue;
}


/* Form input name */
.form_input_name {
	color: steelblue;
}


/* For view_problem.php */

.prob_hashtag {
	font-size: 14pt;
	font-weight: bold;
}

/* Main content */
div#main, #main {
	width: 69%;
}

div#side, #side {
	width: 25%;
	padding: 12px;
}


/* Boxes */
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px 5px;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('/knobs/Knob_Info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('/knobs/Knob_Valid_Green.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('/knobs/Knob_Attention.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('/knobs/Knob_Cancel.png');
}
.validation {
color: #D63301;
background-color: #FFCCBA;
background-image: url('/knobs/Knob_Attention.png');
}

