<?
$SITE_ROOT = 'http://www.example.edu/';
$WEB_ROOT = '/www/example.edu/karl/htdocs/';

$DB_NAME = "database_karl";
$DB_USER = "echen"; 
$DB_PASS = "imarock"; // this is not my actual password --Evan

define("PASSWORD_SALT", "put some random string here");
?>
